# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
*.moved-aside
*.xcscmblueprint
*.xccheckout

## User settings
xcuserdata/
*.xcuserstate
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*~.nib
*.swp

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code injection
iOSInjectionProject/

# Editors
.vscode/

# Local environment
.env
*.log
